<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <form action="/admin_login" class="admin-form" method="POST">
        <input type="login" placeholder="Login" name="login">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">Войти</button>
    </form>
</body>
</html>