<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Выбор теста</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="exercises-block">
        {{range $topic := .Topics}}
        <form class="exercise" method="GET" action="/test">
            <h2>{{$topic}}</h2>
            <input type="hidden" name="topic" value="{{$topic}}">
            <button type="submit" class="choise-button">Открыть</button>
        </form>
        {{end}}
    </div>
</body>
</html>