<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SQLGuru</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="main-nav-bar">
        <div class="logo">
            <h1>SQLGuru</h1>
        </div>
    </div>
    <div id="banner">
        <h1>Выучи язык программирования SQL с нашим учебником SQLGuru</h1>
        <button id="beginButton" onclick="document.location='/article?id=1'">Начать</button>
    </div>
    <div id="footer">
        <h1></h1>
    </div>
</body>
</html>