<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SQLGuru</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="main-nav-bar">
        <div class="logo">
            <h1>SQLGuru</h1>
        </div>
        <button id="login-button" onclick="openModal('loginModal')">Войти</button>
        <div id="loginModal">
            <div class="modalContent">
                <button class="close-modal-button" onclick="closeModal('loginModal')">Закрыть</button>
                <div class="forms">
                    <input class="forms-element" type="email" placeholder="Email">
                    <input class="forms-element" type="password" placeholder="Password">
                    <button class="forms-element" id="sign-in-button">Войти</button>
                </div>
            </div>
        </div>
    </div>
    <div id="banner">
        <h1>Выучи язык программирования SQL с нашим учебником SQLGuru</h1>
        <button id="beginButton" onclick="openModal('beginModal')">Начать</button>
        <div id="beginModal">
            <div class="modalContent">
                <button class="close-modal-button" onclick="closeModal('beginModal')">Закрыть</button>
                <div class="forms">
                    <button class="forms-element" id="guest-button" onclick="document.location='/article?id=1'; closeModal('beginModal')">Продолжить как гость</button>
                    <button class="forms-element" id="sign-in-button" onclick="openModal('loginModal'); closeModal('beginModal')">Войти</button>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <h1></h1>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>