<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>SQLGuru</title>
</head>
<body>
    <div id="main-navigation-bar">
        <div class="logo">
            <h1>SQLGuru</h1>
        </div>
        <button id="sign-in-button">Войти</button>
    </div>
    <div id="banner">
        <h1>Укроти язык программирования SQL с нашим тренажёром SQLGuru!</h1>
        <button>Начать</button>
    </div>
    <div id="footer">
        <h1></h1>
    </div>
</body>
</html>