<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="sim-nav-bar">
        <button class="sim-nav-button">Вопросы на тему</button>
        <button class="sim-nav-button">Случайные вопросы</button>
        </div>
    </div>
    <div class="task-block">
        <div id="topic">
                <div class="question">
                    <p></p>
                </div>
                <div class="answers">

                </div>
            </div>
        <div id="random">

        </div>
    </div>
</body>
</html>