* {
    margin: 0;
}

#main-navigation-bar {
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A374D;
}

#main-navigation-bar .logo {
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #6998AB;
    font-size: 14px;
    margin-left: 20px;
}

#open-modal-button {
    width: 130px;
    height: 35px;
    border-radius: 20px;
    background-color: #406882;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
    border: 0;
    margin-right: 20px;
}

#open-modal-button:hover {
    background-color: #406882b7;
}

#banner {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6998AB;
}

#banner h1 {
    width: 1000px;
    text-align: center;
    font-size: 50px;
}

#beginButton {
    width: 130px;
    height: 45px;
    border-radius: 25px;
    background-color: #B1D0E0;
    border: 0;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s ease;
    margin-top: 25px;
}

#banner button:hover {
    background-color: #b1d0e0b7;
}

#loginModal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modalContent {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    background-color: white;
}

.forms {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forms-element {
    margin: 5px;
}

#close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
}